.nav-link {
  position: relative;
  font-weight: 900;
  display: flex;
  transition: all 0.5s ease-in-out;
}

.circle-moving {
  position: absolute;
  top: -0.65rem;
  left: -0.65rem;
  width: 48px;
  height: 48px;
  background: #d7fdb0;
  z-index: -1;
  border-radius: 9999px;
}

